:root {
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-darker: #292b2f;
  --background-darkest: #202225;

  --text-primary: #dcddde;
  --text-secondary: #b5b5b5;
  --text-disabled: #72767d;
  --text-link: #5865f2;
  --text-sucess: #4fdc7b;

  --accent-primary: #36393f;
  --accent-blurple: #5865f2;
  --accent-red: #f9726f;
  --accent-green: #90ff94;
  --accent-yellow: #fcf19c;
  --accent-light-blue: #6fc2f9;
  --accent-blue: #6f7af9;
  --accent-orange: #faa25f;
  --accent-exchange: #f9bc06;

  --font-title: "Uni Sans";
  --font-normal: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.content {
  margin-top: 125px;
  color: var(--text-primary);
  margin-bottom: 25px;
  width: 100%;
}

.center {
  padding: 15%;
}

.invite,
.logo-invite {
  display: inline-block;
}

.center .continue {
  margin-top: 15px;
  padding: 12px;
  margin-left: 40%;
  color: var(--text-primary);
  border: none;
  border-radius: 5px;
  background-color: var(--accent-blue);
  font-size: 20px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.center .continue:hover {
  background-color: var(--accent-blurple);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.invite a {
  color: var(--accent-blue);
  text-decoration: none;
}

.invite a:hover {
  color: var(--accent-blurple);
}

.logo-invite {
  width: 100px;
  height: 100px;
  background-image: url(./discoin_logo.png);
  background-size: cover;
}
